@{
    char[] alpha = "ABCDEFGHIJKLMNOPQRSTUVWXYZ".ToCharArray();    
}
<!DOCTYPE html> 
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1"> 
	<title>Campus Directory</title> 
	       <link href="@System.Web.Optimization.BundleTable.Bundles.ResolveBundleUrl("~/Content/css")" rel="stylesheet" type="text/css" />
           <script src="@System.Web.Optimization.BundleTable.Bundles.ResolveBundleUrl("~/Scripts/js")" type="text/javascript"></script> 	
           <script src="@Url.Content("~/Scripts/dust-full-0.3.0.min.js")" type="text/javascript"></script>
 
<style type="text/css" >
	.ui-page {
    -webkit-backface-visibility: hidden;
    }	
    h1.ff{font:28px 'GillSansRegular','Trebuchet MS', Arial, Helvetica, sans-serif;text-shadow: 2px 1px #fff;text-align:center;letter-spacing:0;color:rgba(0,0,0,.7);margin-top:60px;line-height:44px;padding:0}	.ui-page * {
    -webkit-transform: rotateY(0deg);
    -moz-transform: rotateY(0deg);
    transform: rotateY(0deg);
    }	
</style> 
	<script type="text/javascript">
        var jqxhr ;
        var delay = (function(){
            var timer = 0;
            return function(callback, ms){
            clearTimeout (timer);
            timer = setTimeout(callback, ms);
          };
        })();

	    $(document).bind("mobileinit", function () {
	        $.mobile.touchOverflowEnabled = true;
	    });


      //function to format returned values
      function displayPerson(data) {
            var source = "{#NAMES} <li><a href='#person?id={eduPersonPrincipalName}'  data-campusid='{eduPersonPrincipalName}' data-transition='slide'>{cn} </a></li>{/NAMES}";
 	        dust.loadSource(dust.compile(source, "array"));
	        dust.render("array", data[0], function (err, out) {
	            $("[id^='actionList']").html(out);
	        });
	        $("[id^='actionList']").listview('refresh');
              $.mobile.hidePageLoadingMsg();  //close loading gif
	    }


        function displayPersonDetail(data) {       
	        var employee = data.item;
            var source =         " <dl title='Definition list'>"+
                            	 " <dt> <strong>{cn}</strong></dt> "+
                                 " <dt> <strong>{edupersonAffiliation} </strong></dt> "+
                                 " <dt>  {title}</dt> "+
                                 " <dt>   {ou}</dt> "+
	                             " </dl>    "+
	                             " {#mail}<a href='mailto:{mail}' data-role='button' data-rel='dialog' id='mail' >{mail}</a>{:else} {/mail} "+    
                                 " {#telephoneNumber}<a href='tel:{telephoneNumber}' data-role='button' data-rel='dialog'  id='telephoneNumber' >{telephoneNumber}</a>{:else} {/telephoneNumber}  ";

	        dust.loadSource(dust.compile(source, "replace"));
	        dust.render("replace", data[0], function (err, out) {
	            $("#personDetails").html(out);
	        });
             $('#mail').button();$('#telephoneNumber').button();
	    }


    //initial Auto Search
	$(document).ready(function () {
              //submit serarch
             //intercept form submit
              $("#searchform").submit(function (e) {  
                 $.mobile.showPageLoadingMsg();  //start page loading gif            
                  e.preventDefault();    
                  var qu  =    $('#search').val();          
                  ajaxsearch(qu);  
                  $('input#search').blur();                         
                  return false;
               });             

             //auto type search
             var initVal="";
	         $("input[id^='search']").keyup(function (e) {  initVal = $(this).val(); delay(function(){
                 if(e.keyCode != 13){  ajaxsearch(initVal); } }, 500 );            
             });           
             
         
            //chagnge search criteria when footer buttons are presssed
           $('a[rel="nofollow"]').click( function() {
                 var myID = $(this).attr('id');            
                 $('#criteria').val(myID);
                  $.mobile.showPageLoadingMsg();  //start page loading gif 
                  var qu  =    $('#search').val();          
                  ajaxsearch(qu); 
                  } );

	    });

       

	    function ajaxsearch(initVal ) { 
            if( jqxhr != null ) {  jqxhr.abort(); jqxhr = null;}
            var sc  =    $('#criteria').val();     
	        jqxhr =   $.getJSON("http://netdevone.gsu.edu/directory/api/Person?givenName="+ initVal +"&sn=&sc="+sc, displayPerson);
	    }


	    $('#person').live('pagebeforeshow', function (event , data) {       
	        var id = getUrlVar(event.currentTarget.dataset.url)["id"];
	        $.getJSON("http://netdevone.gsu.edu/directory/api/Person/"+id, displayPersonDetail);
	    });
	    


         ///////////////////////////////////////////////////////////////////////////////////////////////////////////////
	    function getUrlVar(url) {
	        var vars = [], hash;
	        var hashes = url.slice(url.indexOf('?') + 1).split('&');
	        for (var i = 0; i < hashes.length; i++) {
	            hash = hashes[i].split('=');
	            vars.push(hash[0]);
	            vars[hash[0]] = hash[1];
	        }
	        return vars;
	    }

 </script>
</head> 	
<body> 
<div data-role="page" class="type-interior" id="@ViewBag.pageid">
	  <div data-role="content" id="innercontent">
      
       @using (Html.BeginForm("Index", "Search", FormMethod.Get, new { id = "searchform", role = "search", @class = "ui-listview-filter ui-bar-d" }))
       {         
                 <input type="search" name="fname" id="search" value="@ViewBag.search_terms"  data-theme="d"  autocomplete="off" class="ui-input-text ui-body-d" data-type="search" placeholder="Search Campus Directory..." />
                <input type="hidden" value="fas" name="criteria" id="criteria" />
         
       }             
	  @RenderBody()          
        
	 </div><!--/content-primary -->


     <div data-role="footer" data-id="foo1" data-position="fixed">
		<div data-role="navbar">
			<ul id="uc">
				<li><a href="#" id="fas" class="ui-btn-active ui-state-persist" rel="nofollow">Faculty/Staff</a></li>
				<li><a href="#" id="stu" rel="nofollow" >Students</a></li>
				<li><a href="#" id="oas" rel="nofollow" >Offices & Departments </a></li>
				
			</ul>
		</div><!-- /navbar -->
	</div><!-- /footer -->

 </div><!-- /page -->
	
	  
	
	
        <div id="person" data-role="page" data-add-back-btn="true" >
	                <div data-role="header" data-theme="b">
		                  <h1> Details </h1>
	                </div>
                   <div data-role="content"  id="personDetails">        	
                   </div>
        </div>
     </body>
</html>